<html>
<head>
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="css/styles.css" media="screen">
    <title>Address Book</title>
</head>
<body>
    <div class="container">
    <h1>Address book cleared!</h1>
    <a class="btn btn-default" href="/" role="button">Return Home</a>
    </div>
</body>
</html>
